[Desktop Entry]
Name=Audio
GenericName=Audio Player
Comment=Listen to audio tracks on demand
Categories=GTK;Utility;AudioVideo;Audio;Player;
Exec=com.github.cassidyjames.audio %U
Icon=multimedia-audio-player
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.cassidyjames.audio
Keywords=Audio;Music;Noise;
MimeType=application/ogg;application/x-ogg;audio/midi;audio/mp3;audio/mpeg;audio/mpegurl;audio/ogg;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;
