[Desktop Entry]
Name=Audio
GenericName=Audio Player
Comment=Listen to audio tracks on demand
Categories=GTK;Utility;AudioVideo;Audio;Player;
Exec=pantheon-audio
Icon=multimedia-audio-player
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=pantheon-audio
Keywords=Audio;Music;Noise;

